<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSA_mHelpDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SSA_mHelpDesk.Properties.Settings>
      <setting name="Production" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Bearer_Workaround" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefresh" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRefreshPeriod" serializeAs="String">
        <value>00:00:30</value>
      </setting>
    </SSA_mHelpDesk.Properties.Settings>
  </userSettings>
</configuration>